<!-- templates/footer.html -->
<footer class="bg-light text-center mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">TravelCrafters</h5>
                <p>
                    Designed for Life On-The-Go. Discover our range of stylish and functional bags.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Shop</a></li>
                    <li><a href="{% url 'about_page' %}" class="text-dark">About</a></li>
                    <li><a href="{% url 'contact_page' %}" class="text-dark">Contact</a></li>
                    <li><a href="{% url 'sign_in_page' %}" class="text-dark">Sign In</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Facebook</a></li>
                    <li><a href="#" class="text-dark">Instagram</a></li>
                    <li><a href="#" class="text-dark">Twitter</a></li>
                    <li><a href="#" class="text-dark">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 text-white" style="background-color: #000000;">
        &copy; 2024 TravelCrafters. All rights reserved.
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
