<!-- templates/header.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TravelCrafters{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<header >
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;"> <!-- Changed to black background color -->
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img src="{% static 'logo.png' %}" alt="TravelCrafters Logo"  style="width: 80px; height: 80px;">
            TravelCrafters
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- Changed mx-auto to ml-auto -->
                <li class="nav-item {% if request.resolver_match.url_name == 'home_view ' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home_view' %}">Home</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'home_page' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home_page' %}">Products</a>
                </li>
                {% comment %}
                <li class="nav-item {% if request.resolver_match.url_name == 'shop_page' %}active{% endif %}">
                    <a class="nav-link" href="">Shop</a>
                </li>
                {% endcomment %}
        
                <li class="nav-item {% if request.resolver_match.url_name == 'about_page' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about_page' %}">About</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'contact_page' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact_page' %}">Contact</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'myorder_page' %}active{% endif %}">
                    {% if request.user.is_authenticated %} {% if request.user.orders.exists %}
                    <a class="nav-link" href="{% url 'myorder_page' order_id=request.user.orders.last.id %}">My Order</a>
                    {% else %}
                    <a class="nav-link" href="#">My Order</a>
                    {% endif %} {% else %}
                    <a class="nav-link" href="{% url 'sign_in_page' %}">Sign In</a>
                    {% endif %}
                </li>
        
                <li class="nav-item {% if request.resolver_match.url_name == 'cart_page' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'cart_view'%}">Cart</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    {% if user.profile_image %}
                    <a href="{% url 'profile_page' %}">
                        <img src="{{ user.profile_image.url }}" alt="Profile Image" style="width: 50px; height: 50px; border-radius: 50%">
                    </a>
                    {% else %}
                    <!-- Default profile icon or placeholder with link to profile page -->
                    <a href="{% url 'profile_page' %}">
                        <img src="{% static 'defult_profile.png' %}" alt="Default Profile Image" style="width: 50px; height: 50px; border-radius: 50%">
                    </a>
                    {% endif %}
                </li>
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% endcomment %} {% else %}
                <li class="nav-item {% if request.resolver_match.url_name == 'sign_in_page' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'sign_in_page' %}">Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
            
    </nav>
</header>
