<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home - TravelCrafters{% endblock %}
{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 mb-4">Welcome to TravelCrafters</h1>
            <p class="lead d-none d-md-block">Designed for Life On-The-Go</p>
        </div>
    </div>

        <!-- Search Bar -->
        <form method="GET" action="{% url 'search_categories' %}" class="mb-4">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search categories..." aria-label="Search categories">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
            </div>
        </form>
        <form method="GET" action="{% url 'search_categories' %}" class="mb-4">
            <div class="input-group">
                <!-- Dropdown Menu for Categories -->
                <select name="c_id" class="form-control">
                    <option value="" selected disabled>Select a category...</option>
                    {% for category in category_data %}
                        <option value="{{ category.pk }}">{{ category.c_name }}</option>
                    {% endfor %}
                </select>
                
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark">Search</button>
                </div>
            </div>
        </form>
        
    <div class="row">
        {% for category in category_data %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ category.c_image.url }}" class="card-img-top" alt="{{ category.c_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ category.c_name }}</h5>
                    <a href="{% url 'products_page' category.c_id %}" class="btn btn-dark">View Products</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
