{% extends 'base.html' %}

{% block title %}Sign In - TravelCrafters{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </form>
                    <p class="mt-3">Don't have an account? <a href="{% url 'sign_up_page' %}">Sign up here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
